snippet title "title"
# $1
endsnippet

snippet subtitle "subtitle"
## $1
endsnippet

snippet code "code snippets"
```
$1
```
endsnippet

snippet image "md image"
![alt]($1)
endsnippet

snippet link "link"
[text]($1)
endsnippet

snippet italic "italic"
*$1*
endsnippet

snippet bold "bold"
**$1**
endsnippet

snippet quote "quotes or informations"
> $1
endsnippet
